

body{
    background-image:url('back1.jfif');
    background-size:cover;
    background-attachment:fixed;
}


article
{
    height:800px;
background:white;
margin-left:100px;
margin-right:100px;

}


header
{
    height:170px;
    margin-left:100px;
    margin-right:100px;
    margin-top:100px;
    background-image:url('background.jfif');
    background-size: cover;
}

footer
{
    margin-left:100px;
    margin-right:100px;
    height:100px;
    background:grey;
}

a:link {text-decoration:none;}
a:hover {border-style:dashed;color:orange;}


a
{
text-shadow: 2px 2px 0px red;
border-radius:100px 100px 0 0;
border-width:10px 50px 10px 50px;
border-style:dashed ridge dashed groove;
border-color:blue;
font-size:24px;
background:blue;
color:white;

}

nav
{
    height:100px;
    background-color: white;
    margin-left:100px;
    margin-right:100px;

}
fieldset
{
    width: 300px;
    margin-left: 350px;
    background-color:skyblue;
    color:green;
}

input
{
    border-radius: 100px;
    border-style:solid;
}

